@use "src/scss/custom-bootstrap" as *;

.kalima-logo--small {
  width: 110px;
}
.kalima-logo--big {
  width: 200px;
}

.kalima-logo--primary-color {
  .kalima-logo__main {
    fill: $primary;
  }
  .kalima-logo__slogan {
    fill: $primary;
  }
}

.kalima-logo--secondary-1-color {
  .kalima-logo__main {
    fill: $secondary-2;
  }
  .kalima-logo__slogan {
    fill: $secondary-2;
    font-size: 40px;
    width: 100px;
  }
}

.kalima-logo--secondary-2-color {
}

.test-1 {
  width: 200px;
}

.test-2 {
  width: 200px;
}
