$primary: #4d96ea;
$secondary-1: #ffe732;
$secondary-2: #23085a;
$white: #eeeeee;
$secondary-font-color: #fff;
$accent-color: #fbe8a3;
$background-color-black: #000;

// Tests
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;

$max-ch-md: 65ch;
