.subscription-plans-section-container {
}

.subscription-plans-wrapper {
    display: grid;
    grid-template-columns: minmax(150px, 300px);
    gap: 1rem; 
}

/* For screens 992px and larger (desktops) */
@media (min-width: 992px) {
    .subscription-plans-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}