@use "src/scss/custom-bootstrap" as *;

.subscription-plan-price-wrapper {
  padding-bottom: 0.5rem;
  text-align: left;
  > * {
    margin: 0;
  }
  .price-amount {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

// <img alt="Cambly Resources" loading="lazy" width="240" height="240" decoding="async" data-nimg="1" class="CamblyResourcesViolator_image___O9UR" style="color:transparent" srcset="https://staticimagescdn.cambly.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ftry_cambly.3d7c8d26.png&w=256&q=75 1x, https://staticimagescdn.cambly.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ftry_cambly.3d7c8d26.png&w=640&q=75 2x" src="https://staticimagescdn.cambly.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ftry_cambly.3d7c8d26.png&w=640&q=75">
