.subscription-plan-card-wrapper {

    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 6px;

    > * {
        width: 100%;
    }
    .benefits-header {
        // width: 100%;
        // text-align: start;
    }

    img {
        width: 60px;
    }  


    .img-plan-header-wrapper {
        // flex: 1;
        // flex-basis: 100%;
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: start;
        align-items: center;
    }

    .benefits-wrapper {
        // width: 100%;
    }



}