@import './../../../_variables.scss';

.button-container {
    // text-align: center;
}
.section-action-button {
    padding: 1rem 6rem;
    font-weight: 600;
    border: black 1px; 
    border-radius: 2rem;
}

.secondary-font-color {
    color: $secondary-font-color;
}

.secondary-color {
    background-color: $secondary-color;
}