$primary: #06413d;
$secondary-1: #ecf7f6;
$secondary-2: #efd9cc;
$secondary-3: #138880;
$accent: #2df1e4;

$gray-100: #f8f9fa;
$light: $gray-100;
$gray-800: #343a40;
$dark: $gray-800;

$theme-colors: (
  "primary": $primary,
  "secondary-1": $secondary-1,
  "secondary-2": $secondary-2,
  "secondary-3": $secondary-3,
  "accent": $accent,
  "light": $light,
  "dark": $dark,
  "black": #000,
);

// Navbar overrides
$navbar-light-color: $primary;
$navbar-light-hover-color: #000;
$navbar-light-active-color: #000;

$max-ch-md: 65ch;

$spacer: 1rem;

// Spacing Variables
$space-1: $spacer * 0.25;
$space-2: $spacer * 0.5;
$space-3: $spacer;
$space-4: $spacer * 1.5;
$space-5: $spacer * 2;
$space-6: $spacer * 3;
$space-7: $spacer * 5;
$space-8: $spacer * 7;

// Spacers map using predefined variables
$spacers: (
  0: 0,
  1: $space-1,
  2: $space-2,
  3: $space-3,
  4: $space-4,
  5: $space-5,
  6: $space-6,
  7: $space-7,
  8: $space-8,
);
