$primary: #4d96ea;
$secondary-1: #ffe732;
$secondary-2: #23085a;
$secondary-3: #eeeeee;
$secondary-font-color: #fff;
$accent-color: #fbe8a3;
$background-color-black: #000;

$gray-100: #f8f9fa;
$light: $gray-100;
$gray-800: #343a40;
$dark: $gray-800;

$theme-colors: (
  "primary": $primary,
  "secondary-1": $secondary-1,
  "secondary-2": $secondary-2,
  "secondary-3": $secondary-3,
  "light": $light,
  "dark": $dark,
);

$max-ch-md: 65ch;

$spacer: 1rem;

// Spacing Variables
$space-1: $spacer * 0.25;
$space-2: $spacer * 0.5;
$space-3: $spacer;
$space-4: $spacer * 1.5;
$space-5: $spacer * 2;
$space-6: $spacer * 3;
$space-7: $spacer * 5;
$space-8: $spacer * 7;

// Spacers map using predefined variables
$spacers: (
  0: 0,
  1: $space-1,
  2: $space-2,
  3: $space-3,
  4: $space-4,
  5: $space-5,
  6: $space-6,
  7: $space-7,
  8: $space-8,
);
