@import "./../../variables";

.hero-section {
}

.hero-section__container {
  width: 100%;
  position: relative;
  // padding-top: 7rem;
  height: 100lvh;
  background-image: url("src/assets/hero-section-image-x2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.hero-section__content {
  left: 0;
  text-align: center;
  position: absolute;
  padding-top: 7rem;
  z-index: 2;
}

@media (min-width: 992px) {
  .hero-section__content {
    text-align: left;
    top: 20%;
    // padding-top: 10rem;
  }
}
