@use "src/scss/abstracts/variables" as *;

.section-gap {
  // padding: 3rem 2rem;
}

.secondary-font-color {
  color: $secondary-font-color;
}

.primary {
  color: $primary;
}

.background-color-black {
  background-color: $background-color-black;
}
