@import './_variables.scss';
@import 'customBootStrapSassStyles.scss';

body {
  background-color: $primary-background-color;
  // color: $primary-font-color;
  font-family: 'British Council Sans',sans-serif;
}

.section-gap {
  padding: 3rem 2rem;
}

.secondary-font-color {
  color: $secondary-font-color;
}

.primary-color {
  color: $primary-color;
}
.background-color-black {
  background-color: $background-color-black;
}