@import './../../../_variables.scss';

.section-header {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    padding: 0 0 2.5rem 0;
}

.secondary-font-color {
    color: $secondary-font-color;
}